<div class="container w-50 mt-5 text-center border border-white border-5 p-5">
    <div class="text-center fs-1 m-3 text-white">
        Word Limit: {{limit}}
    </div>

    <input type="range" 
    min="1"
    max="50"
    value="{{ limit }}"
    class="slider form-range"
    (change)="handleSlideChange($any($event.target).value)"
    />

    <button class="btn btn-info " (click)="generateWords()">Generate Words</button>
    <button class="btn btn-light mx-2" (click)="generateRandomCountry()">Generate a country</button>
    <button class="btn btn-danger" (click)="reset()">Reset</button>

    <div *ngIf="words||country" class="card card-body">
        <p *ngIf="words" class="display-2">
            {{ words }}
        </p>
        <p *ngIf="country" class="display-2">
            {{ country }}
        </p>
    </div>
</div>



<router-outlet></router-outlet>
